html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title FSD UIKit
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    span is there some pidors?
    //- img(src='./img/1.jpg')
    span no there isn't it, yes. ho ho ho, ti pidor DAAAAAA